* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}


/* Definir estilos para o header principal */
.menu-principal {
    padding: 10px;
    width: 100%;
    background-color: #4682B4;
    height: 60px;
}


/* Estilos para o primeiro bloco do header */
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Estilos para o logotipo */
.logo img {
    width: 100px;
    height: auto;
    padding: 10px;
}

/* Estilos para os botões de navegação */
.nav-buttons {
    display: flex;
    flex-direction: column;
}

.button-log {
    position: absolute;
    right: 80px;
    top: 15px;
    
}

/* Estilos para o botão de logout */
.nav-logout {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    align-items: flex-end;
}

.nav-logout .user-info {
    margin-bottom: 20px;

}

.nav-logout .logout-link {
    margin-top: -12px;
}

.nav-logout a {
    color: #ffffff;
    text-decoration: none;
    margin-right: -3px;
}

.nav-logout label {
    color: rgb(56 60 70)
}


/* Estilos para os botões de login e registrar-se */
.nav-login a,
.nav-registrar a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    margin-left: auto;
    float: right;
}

/* Estilos para as redes sociais */
.redes-sociais ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redes-sociais li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociais img {
    width: 45px;
    float: left;
    height: auto;
}

/* Estilos para a barra de navegação */
.menu-urls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    width: 100vw;
    /* Largura definida em relação à largura da janela */
    margin-left: -20px;
    /* Remove o espaço em branco no lado esquerdo */
}

.menu {
    margin-right: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 35px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px 5px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    display: contents;
}



.busca input {
    margin-right: 20px;
    width: 400px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* menu-principal */

main,
.content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}


button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    position: absolute;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/anterior.png');
    top: 37%;
    left: 2%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    position: absolute;
    z-index: 9;
    background-color: transparent;
    background-image: url('../img/proximo.png');
    top: 37%;
    right: 2%;
}

.slider-principal {
    width: 100%;
    overflow: hidden;
}

.slider-principal img {
    width: 100%;
    height: auto;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 22px;
    height: 22px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 93%;
}

li.slick-active button {
    background: #4682B4;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

/*Estilização da frase na tela principal*/
.texto-destaque {
    text-align: center;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque h1 {
    color: #818181;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 110px;
    font-weight: normal;
}

.texto-destaque p {
    color: #9a9a9a;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
}

/*modificando a class col-3*/
.col-3 {
    padding-left: 19px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.bloco-texto {
    margin-top: 4em;
    text-align: center;
}

h3 {
    font-weight: normal !important;
    color: #4d4d4d;
}

.veja-carros {
    text-align: center;
}

/* CSS dos blocos de carros */

.b-car {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.bloco-imagem {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    flex: 0 0 calc(33.33% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bloco-imagem:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.bloco-imagem img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    object-fit: cover;
}

.bloco-imagem h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.bloco-imagem h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #888888;
}

.preco {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
}

.botao-comprar {
    margin-top: auto;
}

.btn-comprar {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-comprar:hover {
    background-color: #0056b3;
}

.empty-block {
    flex: 0 0 calc(33.33% - 10px);
}

/*estilizando o footer*/
.footer-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* altura do footer */
    background-color: #4682B4;

}

.footer-bottom a {
    padding-top: 10px;
    color: #eeeeee;
    text-decoration: none;
    align-items: center;
}

.footer-bottom p {
    text-align: center;
    margin-top: 13px;
}

/* Estilos para a página de detalhes do veículo */
#body-exibir {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container3 {
    max-width: 800px;
    margin: 70px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos do cabeçalho */
.veiculo-titulo {
    font-size: 36px;
    margin: 0;
    padding: 10px 0;
    color: #333;
    text-align: center;
}

/* Estilos da imagem do veículo */
.veiculo-imagem {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
}

.veiculo-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos das informações do veículo */
.veiculo-info {
    margin-bottom: 30px;
}

.veiculo-ano,
.veiculo-preco {
    margin: 0;
    padding: 5px 0;
    color: #666;
    font-weight: bold;
}

.car-price {
    color: #333;
}

.veiculo-descricao {
    margin: 0;
    width: 90%;
    text-align: justify;
    padding: 20px 0;
    color: #555;
    line-height: 1.6;
}

/* Estilos dos botões */
.buttons-container {
    text-align: center;
    margin-bottom: 30px;
}

.btn-alugar {
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #009688;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-alugar:hover {
    background-color: #008577;
}

/* Estilos do formulário de aluguel */
.aluguel-form {
    display: none;
    margin-top: 30px;
}

.aluguel-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.aluguel-form input[type="text"],
.aluguel-form input[type="email"],
.aluguel-form input[type="date"] {
    display: block;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

#codigo_seguranca{
    width: 10%;
}

#data_fim{
    width: 17%;
}

#data_validade{
    width: 20%;
}
.aluguel-form input[type="submit"] {
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.aluguel-form input[type="submit"]:hover {
    background-color: #008577;
}

h5 {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    text-align: center;
}

/*css da pagina minha reserva*/

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    margin-top: 0;
    color: #333;
}

.container2 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.car-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.car-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.car-details h2 {
    margin-top: 10px;
    color: #333;
}

.car-details p {
    margin: 5px 0;
    color: #666;
}

.car-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}


/* Estilos para a mensagem de carro não alugado */
.empty-message {
    text-align: center;
    margin-top: 20px;
}